#bubbleModal{
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

#modalBLALA{
  margin-top: 50px;
  width: 100%;
  padding: 0;
  overflow-y: scroll;
}
#modalBDialog{
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
#bubbleCommentTable{
  width: 100%;
}
