#tableName{
  font-size: 20px;
  margin: 1rem auto 1rem auto;
  text-align: center;
}

#allIdeas td{
  height: 10px;
  max-height: 10;
}
#tagSpan{
  position: absolute;
  margin-bottom: 0px;
  margin-left: 0px;
  display: table-cell;
  vertical-align: bottom;
}

#tagName{
  position: absolute;
  margin-bottom: 0px;
  margin-left: 0px;
}
#tagName, #author{
  font-style: italic
}

#author{
  bottom: 0;
  display: inline-table;
  vertical-align: bottom;
}

#tagline, #tagParagraph{
  font-weight: bold;
  color: #444444
}
#little{
  float: right;
  font-style: italic
}
.commImg{
  width: 5%;
  height: 8%;
  margin: auto;
  float: right
}


#commentCount{
  text-align: center;
}

#likeCount{
  text-align: center;
}

.modal-backdrop.in {
    opacity: 0;
}
#ideaModal{
  max-height: 100%;
  overflow: scroll;
  width: 100%
}

#modalLALA{
  width: 100%;
  padding: 0;
  overflow: scroll;
}
#modalDialog{
  margin: 3%;
  overflow: scroll;
}

#commentTable{
  width: 100%;
}

#commentForm{
  margin-left:0
}
#tableLALA{
  width: 100%
}

body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}

#scrollingDiv{
  overflow: hidden;
  height: 100px;
  max-height: 80%;
}

#modalLike, #modalComment, #modalClaim{
  float: right;
  height: 6%;
  max-height: 6%;
  width: 6%;
}
