#tableName{
  font-size: 20px;
  margin: 1rem auto 1rem auto;
  text-align: center;
}

#tagSpan{
  position: absolute;
  margin-bottom: 0px;
  margin-left: 0px;
  display: table-cell;
  vertical-align: bottom;
}

#tagName{
  position: absolute;
  margin-bottom: 0px;
  margin-left: 0px;
}
#tagName, #author{
  font-style: italic
}

#author{
  bottom: 0;
  display: inline-table;
  vertical-align: bottom;
}

#tagline, #tagParagraph{
  font-weight: bold;
  color: #444444
}

#facebookLike{
  width: 50%;
  margin: auto
}

#commentCount{
  text-align: center;
}

#likeCount{
  text-align: center;
}
table{
  display: block;
  margin-bottom: 30px;
}

#allIdeas_paginate{
  margin-bottom: 50px;
}
td {
    max-width: 30%;
    overflow: ellipsis;
}

.modal-backdrop.in {
    opacity: 0;
}
