extends layout

block content
  form(name='filterBubbles', onkeyup='return handleChange()' style='margin-left: 5%;height:200px;width:200px;border:1px solid rgb(240,240,240);position:fixed;float:left;padding: 20px 20px 20px 20px;')
    input#myTag(type='text', maxlength='')
    p
      span Total Ideas: 
      span#numIdeas
    p
      span Current Idea: 
      span#curIdea
    p
      span Idea Tags: 
      span#curTags
    p
      span Likes: 
      span#curLikes
      
    #ideaModal.modal.fade(data-backdrop='false')
        .modal-dialog#modalDialog
          .modal-content#modalLALA
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h3.modal-title#modalTitle
            .modal-body
              div#tags
                p#tagParagraph
              h4 Description:
              div#description
                p#descriptionParagraph
              .col-sm-12
                h5 Tags 
                  p#tagList
              form#commentForm
                .col-sm-4
                .col-sm-8
                  input#modalClaim.btTxt.submit(type='image', src='/images/claim.png')
                  input#modalLike.btTxt(type='image', src='/images/likeImage.png')
                  input#modalComment.btTxt(type='image', src='/images/comment.png')
                .col-sm-12
                    fieldset
                      .form-group
                        label.col-lg-2.control-label(for='comment') Type comment below:
                        textarea#commentText.textArea.form-control(rows='3')
              table#commentTable.table.table-striped.table-hover.col-sm-12
                thead#tableLALA 
                
block linkedScripts
  script(src="https://d3js.org/d3.v3.min.js")
  script(src="/javascript/allIdeasBubbles.js")
  script(src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.js')
  script(src='http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/2/dataTables.bootstrap.js')
  link(href='/stylesheets/tablestyle.css', rel='stylesheet')
