extends layout
block preLinkedScripts
  script(type='text/javascript').
    $(document).ready(function(){
    if(document.cookie.indexOf("email") >= 0) {}
    else{
      $("#myModal").modal('show');
    }
    });
  script(type='text/javascript').
    function SAVETHECOOKIE() {
    $("#myModal").modal('hide');
    var email = $("#email").val();
    document.cookie = "email=" + email;
    }

block content
  .row
    .col-sm-2
    .col-sm-8
      table#allIdeas.table.table-striped.table-hover.table-bordered
        thead
          th Name
          th Description
          th Discussion
        tbody
    .col-sm-2
  #myModal.modal.fade(data-backdrop='false')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Enter your email for full access
        .modal-body
          p Enter your Capital One email
          .form-group
            input.form-control(type='email', placeholder='Email Address', id='email')
          button.btn.btn-primary(type='submit', onclick="SAVETHECOOKIE()") Enter
  #ideaModal.modal.fade(data-backdrop='false')
      .modal-dialog#modalDialog
        .modal-content#modalLALA
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h3.modal-title#modalTitle
          .modal-body
            div#tags
              p#tagParagraph
            h4 Description:
            div#description
              p#descriptionParagraph
            h5 Tags 
              p#tagList
            table#commentTable.table.table-striped.table-hover.col-sm-12
              thead#tableLALA Comments
              thead
              thead
              tbody
          .modal-footer
          form#commentForm.form-horizontal
            fieldset
              .form-group
                label.col-lg-2.control-label(for='comment') Comment
                .col-lg-10
                  textarea#commentText.textArea.form-control(rows='3')
              .form-group
                .col-sm-9
                button#addComment.btn.btn-info(type="submit") Add Comment


block linkedScripts
  script(src="/javascript/allIdeas.js")
  script(src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.js')
  script(src='http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/2/dataTables.bootstrap.js')
  link(href='/stylesheets/tablestyle.css', rel='stylesheet')
