doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    block preLinkedScripts

    style.
      .alert.alert-dismissable {
        margin-bottom: 0px;
        height: 39px;
        padding-top: 8px;
        padding-left: 0px;
        padding-right: 35px;
        text-align: center;
        border-width: 2px;
        border-style: solid;
        border-radius: 7px;
        opacity: .85;
      }
      .alert-danger {
        border-color: #B94A48;
      }
      .alert-success {
        border-color: #468847;
      }
      .modal { background: rgba(000, 000, 000, 0.8); min-height:1000000px; }

    block linkedStyles

  body(style='padding-bottom:70px')
    .navbar.navbar-default.navbar-fixed-top
      .container
          .navbar-header
            .visible-xs
              a.navbar-brand(href='/', style="background-image: url('/images/title_logo.png'); background-size: 120px 30px; padding-right: 150px; background-repeat: no-repeat; background-position: center")
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/", style='font-weight: bold')
              | &nbsp;&nbsp;ThoughtBubble&nbsp;&nbsp;

          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
              //li
              //  a(href='../') Home
              li
                a(href='../') All Ideas
              li
                a(href='../newIdea/') Submit Idea
              li
                a(href='../bubbles/') Bubbles

    br

    .hidden-xs.page-header
      h1
    .hidden.visible-xs
      br
      br
    //
      #myModal.modal.fade(data-backdrop='false')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Enter your email for full access
          .modal-body
            p Enter your Capital One email
            form
              .form-group
                input.form-control(type='email', placeholder='Email Address')
              button.btn.btn-primary(type='submit') Enter

    block content

    block linkedScripts
        script(src='/javascripts/typeahead.jquery.js')
  .navbar.navbar-default.navbar-fixed-bottom
    &nbsp
    img.center-block(src='/images/C1_Core_G_2955_1807_R.jpeg', height='50', width='150')
    &nbsp
