extends layout

block content
  form.form-horizontal#submitIdeaForm()
    fieldset
      legend Submit an Idea
        style
          include ideaStyle.css
      .form-group
        label.col-lg-2.control-label(for='inputName') Idea Name
        .col-lg-10
          input#inputName.form-control(type='text',style="width:150px", placeholder='Name', name='name')
      .form-group
        label.col-lg-2.control-label(for='tagLine') Tagline
        .col-lg-10
          input#tagLine.form-control(type='text',style="width:350px",placeholder='Short description',name='tagline')
      .form-group
        label.col-lg-2.control-label(for='textArea') Description
        .col-lg-10
          textarea#textArea.form-control(rows='3',style="width:350px",name='description')
          span.help-block
       .form-group
        label.col-lg-2.control-label(for='Tags') Tags/Keywords
        .col-lg-10
          input#Tags.form-control(type='text',style="width:350px",placeholder='Tags will be split by comma',name='tags')
      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-default(type='reset') Cancel
          button#submitIdeaButton.btn.btn-primary Submit
block linkedScripts
  script(src="/javascript/submitIdea.js")
  link(href='/stylesheets/tablestyle.css', rel='stylesheet')
